<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="com.nie.framework.aop.proxy"/>
    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <bean id="autoProxy" class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <property name="beanNames" value="*.Impl"/>
        <property name="interceptorNames" value="greetingArroundAdvice"/>
        <property name="optimize" value="true"/>
    </bean>

    <bean id ="greetingAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice" ref="greetingArroundAdvice"/>
        <property name="pattern" value="com.nie.framework.aop.proxy.greet.GreetingImpl.good.*"/>
    </bean>
    <bean id="greetingProxy2" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="greetingImpl"/>
        <property name="interceptorNames" value="greetingAdvisor"/>
        <property name="proxyTargetClass" value="true"/>
    </bean>
    <bean id="greetingProxy" class="org.springframework.aop.framework.ProxyFactoryBean">

        <property name="interfaces" value="com.nie.framework.aop.proxy.advice.Apology"/>
        <property name="target" ref="greetingImpl"/>
        <property name="interceptorNames">
            <list>
                <value>greetingThrowAdvice</value>
                <value>greetingAfterAdvice</value>
                <value>greetingBeforeAdvice</value>
                <value>greetingIntroAdvice</value>
            </list>
        </property>
        <property name="proxyTargetClass" value="true"/>
    </bean>
</beans>